<link rel="stylesheet" href="/style/styles.css" />

<script
  src="https://cdn.jsdelivr.net/npm/tsparticles@1.26.0/dist/tsparticles.min.js"
></script>

<body>
  <div id="particles-js" class="snow"></div>

  <main>
    <div class="left-side"></div>

    <div class="right-side">
      <form method="post" action="/user/register">

      <input type="hidden" id="message" value="{{message}}" name="message" />

        <div class="btn-group">
          <button class="btn">
            <img
              class="logo"
              src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/d1c98974-c62d-4071-8bd2-ab859fc5f4e9"
              alt=""
            />
            <span>Sign up with Google</span>
          </button>
          <button class="btn">
            <img
              class="logo"
              src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/59c1561b-8152-4d05-b617-0680a7629a0e"
              alt=""
            />
            <span>Sign up with Apple</span>
          </button>
        </div>

        <div class="or">OR</div>

        <label for="email">Email</label>
        <input id = "email" type="text" placeholder="Enter Email" name="email" />

        <label for="password">Password</label>
        <input id = "password"
          type="password"
          placeholder="Enter Password"
          name="password"
        />

        <label for="confirmPassword">Confirm Password</label>
        <input id = "confirmPassword"
          type="password"
          placeholder="Enter Password"
          name="confirmPassword"
        />

        <button type="submit" class="login-btn">Sign up</button>
        <div class="links">
          <a href="#">Already have an account?</a>
        </div>
      </form>
    </div> 
  </main>
</body>

<script>

    document.addEventListener('DOMContentLoaded', function () {
      document.querySelector('form').addEventListener('submit', formValidate);
    });

    const message = document.getElementById("message")?.value;

      if (message) {
        console.log(message);
        swal(message);
      }


    function formValidate(e){
      e.preventDefault();
      var email = document.getElementById('email').value;
      var password = document.getElementById('password').value
      var confirmPassword = document.getElementById('confirmPassword').value

      if(email === "" || password === "" || confirmPassword === ""){
        swal("All fields required");
        return false;
      }else if(password !== confirmPassword){
        swal("passwrods must be match");
        return false;
      }
      e.target.submit();  
  }



  

</script>